*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, #f17a7e, #ffc94b);
    font-family: "Mukta", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo{
    width: 100px;
    height: 100px; 
}
.logo{
    position: absolute;
    top: 30%;    
}

.rotate{
    animation: rotation 8s infinite linear;
}

.search-bar{
   width: 500px;
   height: 50px; 
   border-radius: 30px;
   display: flex;
   align-items: center;
   padding: 20px;
   border: 2px solid #4a6163;
   margin-top: 30px;

}

.search-bar > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-right: 10px;
    color: #4a6163;
    background-color: transparent;
    font-family: inherit;
    
}

.search-bar > i{
  font-size: 20px;
  color: #4a6163;  
}

#search-result{
   height: auto;
    width: 50%;
    position: absolute;
    top: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    border-top: 1px solid #4a6163;
    margin-top: 0px;
}
.result-item{
    padding: 20px, 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.result-item .result-title{
    font-size: 30px;
    text-decoration: none;
    color: #4a6163;
    font-weight: bold;
}
.result-item .link{
    font-size: 20px;
    color: #4a6163;
    text-decoration: none;
}

.result-item p{
    color: #4a6163;
    margin: 13px 0;
    font-size: 20px;
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

@media(max-width:700px){
    /* .logo{
        position: absolute;
        top: 10px;
      
    }
    .img-logo{
        width: 100px;
        height: 100px;

    } */

    /* input{
        width: 300px;
        padding: 15px;
    } */
    
    .search-bar{
       
    }
    .result-item .result-title{
        font-size: 20px;
        font-weight: bold;
    }

    .result-item .link{
        font-size: 15px;
    }
}